
{% load static %}
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'music_collection/main.css' %}">
  <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
	<title></title>
</head>
<body>
<div class="container-sec">
<div class="sidebar">
  <h3> logo Spottiffy</h3>
  <a href="#home"><i class="fa fa-angle-left"></i> Home</a>
  <a href="#services"><i class="fa fa-angle-right"></i> Services</a>
  <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
  
</div>
 <nav class="navbar navbar-expand-sm "> 
        <div class="sym">
        <a href=""><i class="fa fa-angle-left fa-2x"></i></a>
        <a href=""><i class="fa fa-angle-right fa-2x"></i></a>
      </div>
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item"> 
                <a class="nav-link" href="#">SIGN UP</a> 
            </li> 
            <li class="nav-item"> 
                <a class="nav-link" href="#">LOGIN</a> 
            </li>    
        </ul> 
</nav> 
<div class="main-section">
{%block content %}{% endblock %}
</div>
{% block  bottombar %}{% endblock %}

</div>
<script type="text/javascript" src="{% static 'music_collection/mj.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>