
{% load static %}
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'music_collection/main.css' %}">
  <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
	<title></title>
</head>
<body>
<div class="container-sec">
<div class="sidebar">
  <h3> logo Spottiffy</h3>
  <a href="#home"><i class="fa fa-angle-left"></i> Home</a>
  <a href="#services"><i class="fa fa-angle-right"></i> Services</a>
  <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
  
</div>
 <nav class="navbar navbar-expand-sm "> 
        <div class="sym">
        <a href=""><i class="fa fa-angle-left fa-2x"></i></a>
        <a href=""><i class="fa fa-angle-right fa-2x"></i></a>
      </div>
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item"> 
                <a class="nav-link" href="#">SIGN UP</a> 
            </li> 
            <li class="nav-item"> 
                <a class="nav-link" href="#">LOGIN</a> 
            </li>    
        </ul> 
</nav> 
<div class="main-section">
{%block content %}{% endblock %}
</div>
<div class="bottom-bar">
  
    <div class="details">
      <img src="{% static 'music_collection/i.jpg' %}">

          <audio src="saluthilla.mp3" type="audio/mpeg"></audio>
          <!-- <div class="now-playing">playing 1 of 10</div> -->
          <!-- <div class="track-art">Do peg marke</div> -->
          <div class="track-details">
            <div class="track-name">Do peg markeDo Do peg markeDo </div>
            <div class="track-artist">Neha Kakkar Kakkar Kakkar</div>
          </div>
          
          <div class="library-btn"><i class="fa fa-heart-o fa-1x"></i></div>

    </div>
 
  <div class="center-btn">
    <div class="buttons">
          <div class="prev-track"><i class="fa fa-step-backward "></i></div>
          <div class="playpause-track"><i class="fa fa-play "></i></div>
          <div class="next-track"><i class="fa fa-step-forward "></i></div>
    </div>
    <div class="slide-container">
          <div class="cur-time">00:00</div>
          <input type="range" min="1" max="100" value="0" class="seek-slider" 
           onchange="seekTo()">
          <div class="cur-time">00:00</div>
    </div>

  </div>
  <div class="right-btn">
    <div class="slide-container-vol">
          <i class="fa fa-volume-down"></i> 
          <input type="range" min="1" max="100"  class="volumeSlider" value="99"
           onchange="VolumeChange()">
          <i class="fa fa-volume-up"></i> 
        </div>
  </div>

</div>
<script type="text/javascript" src="{% static 'music_collection/mj.js' %}"></script>
</body>

</html>