
{% load static %}
<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'music_collection/main.css' %}">
  <link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
	<title></title>
</head>
<body>
  <div id="overlay"></div>

  <nav class="navbar navbar-expand-sm navbar-fixed-top sticky" style="position:fixed;top:0; width:100%;"> 
    <div class="sym">
      <a href=""><i class="fa fa-angle-left fa-2x"></i></a>
      <a href=""><i class="fa fa-angle-right fa-2x"></i></a>
    </div>
    <div class="search-block" >
      <form action="{% url 'search' %}" method="GET" >
            {% csrf_token %}
        <input class="search-cls" type="search" name='q' placeholder="Search" aria-label="Search" value={{request.GET.q}}>
      </form>
    </div>
    <ul class="navbar-nav ml-auto"> 
          {% if user.is_authenticated %}
          <li class="nav-logout"> 
                <a class="nav-link" href="{% url 'logout' %}">Logout</a> 
            </li>
            <li class="nav-profile"> 
                <a class="nav-link" href=""><i class="fa fa-user"></i>{{user.username}}</a> 
            </li>

            {% else %}
            <li class="nav-item"> 
                <a class="nav-link" href="{% url 'register' %}">SIGN UP</a> 
            </li> 
            <li class="nav-item"> 
                <a class="nav-link" href="{% url 'login' %}">LOGIN</a> 
            </li> 
            {% endif %}   
    </ul> 
</nav> 
<aside class="sidebar">
  <h2> logo Spottiffy</h2>
  <a href="{% url 'song_list' %}" class="home"><i class="fa fa-home"></i> Home</a>
  
  <a href="{% url 'playlist_display' %}" class="library"><span class="lib-icon mr-4">||\</span>Library</a>
  <div class="playlist">
    <p>PLAYLIST</p>
   
    <a href="#" class="create_playlist" onclick="onfun()"><i class="fa fa-plus"></i> Create Playlist</a>
    

  <a href="#services" class="heart"><i class="fa fa-heart"></i> Liked Songs</a><hr>

  <div class="overit">
 
{% include 'music_collection/playlist_new.html' %}
</div>

  </div><hr>


</aside>



 
<div class="main-section">


{%block content %} {% endblock %}

{% block  bottombar %}{% endblock %}

</div>
<script type="text/javascript">
function onfun(){
  document.querySelector('.overit').style.display='block';

}
function funoff(){
  document.querySelector('.overit').style.display='none';

}

</script>

<script type="text/javascript" src="{% static 'music_collection/mj.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>