

body{
  margin:0;
  padding: 0;
  overflow-x:hidden;

}
/* side bar */
h3{
  color: white;
  animation: heading;
  animation-duration: 3s ease ;
  animation-fill-mode: forwards;
}

.sidebar {
  height: 85%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background:rgb(0,0,0);
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* end of sidebar */

nav{
  height: 10%;
  background: rgba(18,18,18,1);
  font-size: 12px;
  font-weight: bold;


}
.sym{
  margin-left: 300px;
  
}
.sym a{
  color: white;
  margin-right: 40px;
}
li:nth-child(2){
  margin-right: 50px;
  margin-left: 40px;
  background: white;
  padding: 0 30px;
  border-radius: 1.2rem;
}
nav a:hover{
  font-size: larger;
}

.main-section{
  color: white;
  width: 83.71%;
  min-height: 100vh;
  
  margin-left: 220px;
  background: rgba(4,4,3,0.899);

}

.card{
  padding: 15px;
  
  margin: 15px;
  
}

.card img{
  height: 7rem;
}
.card-title{
  font-size: 1rem;
  font-weight: bold;
}
.card-text{
  font-size: 0.7rem;
  font-weight: bold;
}
.card-1{
  margin:10px 10px ! important;
  /*margin-right: 10px;*/
  padding: 15px;
  background:rgba(97, 99, 98,0.2);
  color: white;
  border: 1px solid rgba(33,33,33,0.9);
  border-radius: 8px;
  width: 10rem;
  height:15rem;
  margin-left: 20px;
}
hr{
  color: gray;
}
.card-1 img{

  height: 120px;
}
.bottom-bar{
  height: 15%;
  background: #3c3c3d;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  

}
.bottom-bar::-webkit-scrollbar{
  overflow-y:hidden; 
  background: transparent;
  width: 100%;
}

.bottom-bar{
  display: flex;
  color: rgba(255,255,255,0.8);
}

.details{
  
}
.details{
  width: 380px;
  margin: 15px;
  display: flex;
}
.details img{
  height: 65px;
  width: 70px;

}
.track-details{
  margin: 15px 10px;
}
.fa-heart-o{margin: 20px 40px;}
.center-btn{
  width: 700px;

}
.right-btn{
margin: 40px;
}
.seek-slider{
  width: 80%;
  margin: 0 10%;
  height: 5px;
}
.buttons{
  display: flex;
  justify-content:center;
  align-items:center;
}
.volumeSlider{
  height: 4px;
}
.fa-play,.fa-pause{
  border: 1px solid rgb(255,255,255,0.8);
  border-radius: 50%;
  padding: 12px;
 
}
.buttons{
  margin-top: 12px;
}
.playpause-track{
  margin: 0 50px;
}
.buttons:hover{
  
}
.prev-track:hover,.next-track:hover,.playpause-track:hover{
font-size: 15px;
margin-bottom: 0;
  color: white ;
}
.main-section{
  color: white;
}
