
body{
  margin:0;
  padding: 0;
  overflow-x:hidden;

}


.sidebar {
  height: 85%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background:rgb(0,0,0);
  overflow-x: hidden;
  padding-top: 16px;

}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
  text-decoration: none;
}
.sidebar .home{
  background: #252626;
  padding: 8px 0;
  border-radius: 5px;
  color: rgba(255,255,255,0.889);
  width: 200px;
  margin-top: 50px;

}
.sidebar.search .library{
  
  padding: 0px 0;
  margin: 10px;
  color: rgba(255,255,255,0.889);
  width: 200px;
  
}
.fa-search,.fa-home{
  font-size: 30px;
  margin: 0 20px;
}
.search{
  margin-left: -15px;
}
/*.library{
  margin-left: 10px;
}*/
.lib-icon{
  font-size: 30px;
  margin: 0 10px;
}
.playlist{
  font-weight: bolder;

}
.playlist p{
  color: rgba(255,255,255,0.889);
  margin: 20px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;

}
.fa-plus,.fa-heart{
  padding: 10px;
  margin-right: 10px;
  background: rgba(255,255,255,0.889);
}
.heart{
  margin:0 0px;
}
.fa-heart{
  background: linear-gradient(120deg,#275487,white);
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* end of sidebar */

.navbar{
  height: 10%;
  background: rgba(18,18,18,1);
  font-size: 12px;
  font-weight: bold;
   position: -webkit-sticky;
  position: sticky;
  top: 0;

}
.sym{
  margin-left: 300px;
  
}
.sym a{
  color: white;
  margin-right: 40px;
}
li:nth-child(2){
  margin-right: 50px;
  margin-left: 40px;
  background: white;
  padding: 0 30px;
  border-radius: 1.2rem;
}
nav a:hover{
  font-size: larger;
}

.search-block form .search-cls{
  width: 400px;
  border: none;
  background: rgba(255,255,255,0.8);
  padding: 7px;
  margin-top:10px 0;

}
.search-block form{
  background: none;
  border: none;
  padding-top: 30px;
  
}
.search-block{
  margin-top:10px 0;
}

.main-section{
  color: white;
  width: 87.71%;
  min-height: 100vh;
  
  margin-left: 220px;
  margin-right: 0;
  margin-top:60px;
  background: rgba(4,4,3,0.899);

}
 h3{
  
  color: yellow;
  padding: 20px 0 0 0;
  margin-bottom: 0;
}
h2{
  color: yellow;
}

.card{
  padding: 15px;
  
  margin: 15px;
  background: yellow;
  
}
.main-section .cards-group{
  margin-left: 30px ;
  
}
.card-1{
  margin:-4px 10px 25px 10px ! important;
  /*margin-right: 10px;*/
  padding: 15px;
  background:rgba(97, 99, 98,0.2);
  color: white;
  border: 1px solid rgba(33,33,33,0.9);
  border-radius: 8px;
  width: 10rem;
  height:15rem;
  margin-left: 20px;
  font-size: 12px;
}
hr{
  color: gray;
}
.card-1 img{

  height: 120px;
}

.card-title{
  color: lightgreen;
  font-size: 20px;
  font-weight: normal;
}
.bottom-bar{
  height: 15%;
  background: #3c3c3d;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  

}
.bottom-bar::-webkit-scrollbar{
  overflow-y:hidden; 
  background: transparent;
  width: 100%;
}

.bottom-bar{
  display: flex;
  color: rgba(255,255,255,0.8);
}

.details{
  
}
.details{
  width: 380px;
  margin: 15px;
  display: flex;
}
.details img{
  height: 65px;
  width: 70px;

}
.track-details{
  margin: 15px 10px;
}
.fa-heart-o{margin: 20px 40px;}
.center-btn{
  width: 700px;

}
.right-btn{
margin: 40px;
}
.seek-slider{
  width: 80%;
  margin: 0 10%;
  height: 5px;
}
.buttons{
  display: flex;
  justify-content:center;
  align-items:center;
}
.volumeSlider{
  height: 4px;
}
.fa-play,.fa-pause{
  border: 1px solid rgb(255,255,255,0.8);
  border-radius: 50%;
  padding: 12px;
 
}
.buttons{
  margin-top: 12px;
}
.playpause-track{
  margin: 0 50px;
}
.buttons:hover{
  
}
.prev-track:hover,.next-track:hover,.playpause-track:hover{
font-size: 15px;
margin-bottom: 0;
  color: white ;
}
.main-section{
  color: white;
}
form button{
  background: green;
  
  
  padding: 10px;
  align-items:center;
  margin-left: 30%;
}


form{
  border: 1px solid gray;
  padding: 20px;
}
legend{
  text-align:center;
  font-weight: bolder;
  
}


.nav-user{
  background: transparent;
  border-radius: 2px;
  border: 1px solid black;
}

.dropbtn {
  background:rgba(97, 99, 98,0.2);
  color: white;
  width: 150px;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: white;
}

.fa-user{
  font-size: 25px;
  border-radius: 50%;
  width: 20px;
  background: transparent;
  margin-right: 20px;main-section-detail-img
  margin-left: 0px;
  height: 20px;
  margin-top: 0;
}

.nav-profile,.nav-logout{
text-align: center;
}

.main-section-detail{
  background: linear-gradient(180deg,#6a9188,#3b695e,#31544c);
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.main-section-detail-img img{
  height: 300px;
  width: 350px;
  margin: 100px;

  flex:1;
}
.main-section-detail-content h1{
font-size: 80px;
font-weight: bold;
margin-top: 20px;
}
.main-section-detail-content{
  margin-top: 60px;
  margin-top: 140px;
}
.create-playlist{
  display: hidden;
}

.overit{
  color: white;
  width: 100%;
  
  display: none;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);

}
.reg-form{
  width: 50%;
}
.playlist-form input{
  width: 80%;
  margin-left: 10%;
  align-items:center;
  text-align: center;
  margin-top: 10%;
}
.reg-form{
 
  width: 40%;
  margin:10% 30%;
  font-size: 18px;
  
}
.playlist-form{
 
  width: 40%;
  margin:10% 30%;
  font-size: 18px;
  
}
.fa-close{
  font-size: 20px;
  position: fixed;
  top: 33%;
  right: 33%;
  
}
.playlist-form button{
  margin: 50px 150px;
  padding: 5px;
  width: 120px;
  border-radius: 20px;
  background: none;
}

.playlist hr{
  background: rgba(255,255,255,0.5);
  width: 80%;
  margin-left: 10%;
}
.sidebar .dis-scroll{
  overflow-y: scroll;
}